 :root {
    --lightgray: #d5e8ed;
    --gray: #8daab3;
    --darkgray: #475559;
    --darkergray: #1b2426;

    --teal: #38c8e8;
    --redpink: #e83861;
 }

 * {
    box-sizing: border-box;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--darkgray);
    color: white;
 }

header {
   padding: 2rem 1rem;
   /*max-width: 800px;*/
   margin: 0 auto;
}

header h1 {
   font-size: xxx-large;
   color: var(--lightgray);
   padding-bottom: 0.5rem;
}

#add-activity-form {
   display: flex;
}

input, button {
   appearance: none;
   background: none;
   border: none;
   outline: none;
}

#add-activity-input {
   background-color: var(--darkergray);
   padding: 0.5rem;
   border-radius: 0.5rem;
   margin-right: 1rem;
   color: var(--gray);
}

#add-activity-submit {
   color: var(--teal);
   cursor: pointer;
}

#add-activity-submit:hover {
   opacity: 0.5
}

main {
   padding: 2rem 1rem;
   max-width: 800px;
   margin: 0 auto;
}

.todo-list {
   padding: 1rem;
}

.todo-list h2 {
   font-size: x-large;
   color: var(--lightgray);
}

#tasks .task {
   display: flex;
   justify-content: space-between;
   background-color: var(--darkergray);
   padding: 0.25rem;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
   color: var(--gray);
}

#tasks .task .content .text {
   color: var(--gray); 
} 
